apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-api
  template:
    metadata:
      labels:
        app: django-api
    spec:
      containers:
      - name: django-api
        image: habiram/django-api:latest
        ports:
        - containerPort: 8000
